In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
# VOTES
df_votes = pd.read_csv("../data_sources/elections_by_county_Eric.csv")

In [3]:
# SLICE - OREGON Data (votes)
oregon_votes_df=df_votes.loc[df_votes["state"]=="OR"]
oregon_votes_df.head()

,county,state,percentage16_Donald_Trump,percentage16_Hillary_Clinton,total_votes16,votes16_Donald_Trump,votes16_Hillary_Clinton,percentage20_Donald_Trump,percentage20_Joe_Biden,total_votes20,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,UnemploymentCategorical
115,Baker,OR,0.727,0.210,8479.0,6160.0,1781.0,0.741,0.236,9878.0,...,5.3,2.9,7.4,16.0,6354.0,70.7,18.6,10.4,0.3,medium
183,Benton,OR,0.286,0.624,45577.0,13030.0,28431.0,0.282,0.679,52719.0,...,7.5,9.6,7.5,19.6,41703.0,66.2,27.6,6.1,0.1,medium
507,Clackamas,OR,0.434,0.495,182136.0,79062.0,90187.0,0.428,0.540,253206.0,...,2.1,1.6,7.8,28.7,197975.0,81.0,11.3,7.5,0.2,medium
532,Clatsop,OR,0.429,0.490,18158.0,7794.0,8899.0,0.425,0.542,23519.0,...,7.3,3.2,5.2,19.1,17121.0,75.9,15.5,8.3,0.3,medium
604,Columbia,OR,0.517,0.397,25077.0,12967.0,9959.0,0.532,0.429,31518.0,...,2.3,1.0,5.0,33.3,21362.0,81.7,11.3,6.9,0.1,high

In [4]:
# Deaths
df_deaths = pd.read_csv("../data_sources/Provisional_COVID-19_Death_Counts_in_the_United_States_by_County.csv")

df_deaths= df_deaths.rename(columns={'Date as of':'Date-as-of', 'Start Date':'Start_date', 'End Date': 'End_date',
                            'County name':'county', 'FIPS County Code':'FIPS_code', 'Urban Rural Code':'Urban-Rural_code',
                           'Deaths involving COVID-19':'Deaths_COVID', 'Deaths from All Causes':'Deaths_All'})

df_deaths.head()

,Date-as-of,Start_date,End_date,State,county,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
0,10/20/2021,01/01/2020,10/16/2021,AK,Aleutians East Borough,2013,Noncore,NaN,14.0,One or more data cells have counts between 1-9...
1,10/20/2021,01/01/2020,10/16/2021,AK,Anchorage Municipality,2020,Medium metro,366.0,4133.0,NaN
2,10/20/2021,01/01/2020,10/16/2021,AK,Bethel Census Area,2050,Noncore,18.0,194.0,NaN
3,10/20/2021,01/01/2020,10/16/2021,AK,Denali Borough,2068,Noncore,NaN,11.0,One or more data cells have counts between 1-9...
4,10/20/2021,01/01/2020,10/16/2021,AK,Dillingham Census Area,2070,Noncore,NaN,45.0,One or more data cells have counts between 1-9...

In [5]:
# SLICE - OREGON Data
oregon_deaths_df=df_deaths.loc[df_deaths["State"]=="OR"]
oregon_deaths_df.head()

,Date-as-of,Start_date,End_date,State,county,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote
2128,10/20/2021,01/01/2020,10/16/2021,OR,Baker County,41001,Noncore,NaN,390.0,One or more data cells have counts between 1-9...
2129,10/20/2021,01/01/2020,10/16/2021,OR,Benton County,41003,Small metro,69.0,1300.0,NaN
2130,10/20/2021,01/01/2020,10/16/2021,OR,Clackamas County,41005,Large fringe metro,321.0,6544.0,NaN
2131,10/20/2021,01/01/2020,10/16/2021,OR,Clatsop County,41007,Micropolitan,20.0,724.0,NaN
2132,10/20/2021,01/01/2020,10/16/2021,OR,Columbia County,41009,Large fringe metro,15.0,507.0,NaN

In [6]:
oregon_deaths_df.shape

(34, 10)

In [7]:
oregon_votes_df.shape

(38, 50)

In [8]:
outer_merged_oregon = pd.merge(oregon_deaths_df, oregon_votes_df, how="left", on=['county'])

In [9]:
outer_merged_oregon.head()

,Date-as-of,Start_date,End_date,State,county,FIPS_code,Urban-Rural_code,Deaths_COVID,Deaths_All,Footnote,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,UnemploymentCategorical
0,10/20/2021,01/01/2020,10/16/2021,OR,Baker County,41001,Noncore,NaN,390.0,One or more data cells have counts between 1-9...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10/20/2021,01/01/2020,10/16/2021,OR,Benton County,41003,Small metro,69.0,1300.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10/20/2021,01/01/2020,10/16/2021,OR,Clackamas County,41005,Large fringe metro,321.0,6544.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10/20/2021,01/01/2020,10/16/2021,OR,Clatsop County,41007,Micropolitan,20.0,724.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10/20/2021,01/01/2020,10/16/2021,OR,Columbia County,41009,Large fringe metro,15.0,507.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
# FOUND CLEAN UP ISSUE = County is recorded as "Baker" in one, "Baker County" in other...

oregon_deaths_df.county.str.split(expand=True)

# Catches "Hood River" - would it be easier to add "County to the other data set?

               0       1       2
2128       Baker  County    None
2129      Benton  County    None
2130   Clackamas  County    None
2131     Clatsop  County    None
2132    Columbia  County    None
2133        Coos  County    None
2134       Crook  County    None
2135       Curry  County    None
2136   Deschutes  County    None
2137     Douglas  County    None
2138     Gilliam  County    None
2139       Grant  County    None
2140      Harney  County    None
2141        Hood   River  County
2142     Jackson  County    None
2143   Jefferson  County    None
2144   Josephine  County    None
2145     Klamath  County    None
2146        Lake  County    None
2147        Lane  County    None
2148     Lincoln  County    None
2149        Linn  County    None
2150     Malheur  County    None
2151      Marion  County    None
2152      Morrow  County    None
2153   Multnomah  County    None
2154        Polk  County    None
2155   Tillamook  County    None
2156    Umatilla  County    None
2157       Union  County    None
2158     Wallowa  County    None
2159       Wasco  County    None
2160  Washington  County    None
2161     Yamhill  County    None

In [11]:
# SPLIT "COUNTY" Off evenly, even HOOD RIVER

oregon_deaths_df['county'].str.split('County', expand=True)

                0 1
2128       Baker
2129      Benton
2130   Clackamas
2131     Clatsop
2132    Columbia
2133        Coos
2134       Crook
2135       Curry
2136   Deschutes
2137     Douglas
2138     Gilliam
2139       Grant
2140      Harney
2141  Hood River
2142     Jackson
2143   Jefferson
2144   Josephine
2145     Klamath
2146        Lake
2147        Lane
2148     Lincoln
2149        Linn
2150     Malheur
2151      Marion
2152      Morrow
2153   Multnomah
2154        Polk
2155   Tillamook
2156    Umatilla
2157       Union
2158     Wallowa
2159       Wasco
2160  Washington
2161     Yamhill

In [17]:
#save as a new column

ValueError: Wrong number of items passed 10, placement implies 1

In [ ]:
#dead end - loc/iloc doesn't lead to appropriate dataframe